pipeline/pipeline_child_list_days_copytosql.json
{
	"name": "pipeline_child_list_days_copytosql",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata Days List",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "partitioned_by_date",
						"type": "DatasetReference",
						"parameters": {
							"folderPath": {
								"value": "@concat('synthetic_customers_partitioned_date/',pipeline().parameters.Year,'/',pipeline().parameters.Month,'/')",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "ParquetReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata Days List",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata Days List').output.childItems",
						"type": "Expression"
					},
					"batchCount": 50,
					"activities": [
						{
							"name": "Debug show day",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "varDay",
								"value": {
									"value": "@item().name",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"Month": {
				"type": "string"
			},
			"Year": {
				"type": "string"
			}
		},
		"variables": {
			"varDay": {
				"type": "String"
			}
		},
		"annotations": []
	}
}