pipeline/pipeline2.json
{
	"name": "pipeline2",
	"properties": {
		"activities": [
			{
				"name": "GetMetadata_YearFolders",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "partitioned_by_date",
						"type": "DatasetReference",
						"parameters": {
							"folderPath": "synthetic_customers_partitioned_date"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "ParquetReadSettings"
					}
				}
			},
			{
				"name": "ForEach_Year",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetMetadata_YearFolders",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetMetadata_YearFolders').output.childItems",
						"type": "Expression"
					},
					"batchCount": 50,
					"activities": [
						{
							"name": "Set Var - varYear",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "varYear",
								"value": "@item().name"
							}
						},
						{
							"name": "Get Metadata Months",
							"type": "GetMetadata",
							"dependsOn": [
								{
									"activity": "Set Var - varYear",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "partitioned_by_date",
									"type": "DatasetReference",
									"parameters": {
										"folderPath": {
											"value": "@concat('synthetic_customers_partitioned_date/', variables('varYear'), '/')",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"childItems"
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "ParquetReadSettings"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"partitionsArray": {
				"type": "Array"
			},
			"varYear": {
				"type": "String"
			}
		},
		"annotations": []
	}
}