pipeline/pipeline_parent_list_years.json
{
	"name": "pipeline_parent_list_years",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata Years List",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "partitioned_by_date",
						"type": "DatasetReference",
						"parameters": {
							"folderPath": {
								"value": "synthetic_customers_partitioned_date/",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "ParquetReadSettings"
					}
				}
			},
			{
				"name": "ForEachYear",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata Years List",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata Years List').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Execute Pipeline - Months",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"typeProperties": {
								"pipeline": {
									"referenceName": "pipeline_child_list_months",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"Year": {
										"value": "@item().name",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Debug show year",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Execute Pipeline - Months",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "varYear",
								"value": {
									"value": "@item().name",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"YearPar": {
				"type": "string",
				"defaultValue": "@item().name"
			}
		},
		"variables": {
			"varYear": {
				"type": "String"
			}
		},
		"annotations": []
	}
}