pipeline/pipeline_addColumn_newFile.json
{
	"name": "pipeline_addColumn_newFile",
	"properties": {
		"activities": [
			{
				"name": "dataflow_addColumn",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Get Metadata - Src File Name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "dataflow_addColumn1",
						"type": "DataFlowReference",
						"parameters": {
							"srcFileName": {
								"value": "'@{activity('Get Metadata - Src File Name').output.itemName}'",
								"type": "Expression"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "Get Metadata - Src File Name",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DelimitedText1",
						"type": "DatasetReference"
					},
					"fieldList": [
						"itemName"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2025-10-27T15:17:54Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}