pipeline/pipeline_child_list_months.json
{
	"name": "pipeline_child_list_months",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata Months List",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "partitioned_by_date",
						"type": "DatasetReference",
						"parameters": {
							"folderPath": {
								"value": "@concat('synthetic_customers_bydate/',pipeline().parameters.Year,'/')",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "ParquetReadSettings"
					}
				}
			},
			{
				"name": "ForEachMonth",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata Months List",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata Months List').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pipeline_child_list_days_copytosql",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"Month": {
										"value": "@item().name",
										"type": "Expression"
									},
									"Year": {
										"value": "@pipeline().parameters.Year",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Debug show month",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Execute Pipeline1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "varMonth",
								"value": {
									"value": "@item().name",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"Year": {
				"type": "string"
			}
		},
		"variables": {
			"varMonth": {
				"type": "String"
			}
		},
		"annotations": []
	}
}