pipeline/pipeline_child_list_days.json
{
	"name": "pipeline_child_list_days",
	"properties": {
		"activities": [
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "varMonth",
					"value": {
						"value": "@pipeline().parameters.Month",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Assign file path",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "vardirPath",
					"value": {
						"value": "@concat('https://salesdatalakedemo.blob.core.windows.net/salescontainer/synthetic_customers_partitioned_date/',pipeline().parameters.Year,'/',pipeline().parameters.Month,'/',activity('Get Metadata1').output.childItems,'/')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "partitioned_by_date",
						"type": "DatasetReference",
						"parameters": {
							"folderPath": {
								"value": "@concat('synthetic_customers_partitioned_date/',pipeline().parameters.Year,'/',pipeline().parameters.Month, '/')",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "ParquetReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Assign file path",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Script1",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "Set variable2",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "AzureSynapseAnalytics1",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"parameters": [
											{
												"name": "leafFolder",
												"type": "String",
												"value": {
													"value": "@activity('Get Metadata1').output.itemName",
													"type": "Expression"
												}
											}
										],
										"type": "NonQuery",
										"text": {
											"value": "COPY INTO dbo.CustomerData\n(\nCustomerID\n, Age\n, Salary\n, Balance\n, MaritalStatus\n, GeoLocation\n, CreatedOn\n, @{variables('varDynPath')}\n)\nFROM @{variables('varDynPath')}\nWITH (\n    FILE_TYPE = 'PARQUET',\n    CREDENTIAL = (IDENTITY = 'Managed Identity')\n);",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						},
						{
							"name": "Set variable2",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "varDynPath",
								"value": {
									"value": "@concat('''https://salesdatalakedemo.dfs.core.windows.net/salescontainer/synthetic_customers_partitioned_date/',pipeline().parameters.Year,'/',pipeline().parameters.Month,'/',item().name,'/''')",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"Year": {
				"type": "string",
				"defaultValue": "year=2023"
			},
			"Month": {
				"type": "string",
				"defaultValue": "month=4"
			}
		},
		"variables": {
			"vardirPath": {
				"type": "String"
			},
			"varDynPath": {
				"type": "String"
			}
		},
		"annotations": []
	}
}